{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>VEREV SHOPS{% block title %}{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% comment %} Flowbite {% endcomment %}
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
		{% comment %} ICON {% endcomment %}
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  rel="stylesheet" />
		
		{% tailwind_css %}
	</head>

	<body class="bg-blue-300">
		{% comment %} Flowbite {% endcomment %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
		{% comment %} SCRIPT {% endcomment %}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
		
	</body>
</html>
