{% include "base.html" %}
<footer class="text-gray-600 body-font pt-20">
    <div class="container px-5 py-24 mx-auto flex md:items-center  max-w-screen-xl lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">VEREV SHOPS</span>
        </a>
        <p class="mt-2 text-sm text-gray-500">Membantu mencari solusi anda!</p>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Menu</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="{% url 'category' 'CF' %}" class="text-gray-600 hover:text-gray-800">Coffe Product</a>
            </li>
            <li>
              <a href="{% url 'category' 'DS' %}" class="text-gray-600 hover:text-gray-800">Desser Product</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="text-gray-600 hover:text-gray-800">About</a>
            </li>
            <li>
              <a href="{% url 'contact' %}" class="text-gray-600 hover:text-gray-800">Contact</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Sumber</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://cdnjs.com/libraries/font-awesome" class="text-gray-600 hover:text-gray-800">Icons</a>
            </li>
            <li>
              <a href="https://tailblocks.cc/#google_vignette" class="text-gray-600 hover:text-gray-800">Tailblocks</a>
            </li>
            <li>
              <a href="https://flowbite.com/" class="text-gray-600 hover:text-gray-800">Flowbite</a>
            </li>
            <li>
              <a href="https://id.pinterest.com/" class="text-gray-600 hover:text-gray-800">Pinterest</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">Referensi</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://youtu.be/qwFBXuEeg1U?si=OFaFlzP8U0KhVr9R" class="text-gray-600 hover:text-gray-800">Youtube</a>
            </li>
            <li>
              <a href="https://chatgpt.com/c/d47fc9e8-a19a-4c2e-9623-8ab9a24eb501" class="text-gray-600 hover:text-gray-800">Chat GPT</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-600 hover:text-gray-800">First Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Second Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Third Link</a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-blue-900">
      <div class="container mx-auto py-4 px-10 flex flex-wrap flex-col sm:flex-row  max-w-screen-xl pt-8">
        <p class="text-white text-sm text-center sm:text-left">© 2024 VerevShops ~
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-white ml-1" target="_blank">Di buat oleh Reynaldo</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a href="https://www.instagram.com/rynldysllino/" class="text-white hover:text-blue-100">
            <i class="uil uil-instagram text-2xl"></i>
          </a>
          <a href="https://github.com/reynaldo0" class="mx-5 text-white hover:text-blue-100">
            <i class="uil uil-linkedin-alt text-2xl"></i>
          </a>
          <a href="https://www.linkedin.com/in/reynaldo-yusellino-564724270" class="text-white hover:text-blue-100">
            <i class="uil uil-github-alt text-2xl"></i>
          </a>
        </span>
      </div>
    </div>
  </footer>