{% include "base.html" %} {% include "navbar.html" %} {% load static %}

<div
  class="container mx-auto max-w-screen-xl flex flex-col md:flex-row gap-5 px-5 pt-10"
>
  {% for ad in add %}
  <div
    class="w-full max-w-sm p-4 bg-blue-900 border border-gray-200 rounded-lg shadow sm:p-8"
  >
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
      PENGATURAN ALAMAT
    </h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-4xl font-bold tracking-tight"
        >ALAMAT KE {{ forloop.counter }}
      </span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <li class="flex items-center">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Name : {{ ad.name }}
        </span>
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Nama Kecamatan : {{ ad.locality }}
        </span>
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Nama Kota : {{ad.city}}</span
        >
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Nomor Telepon : {{ad.mobile}}</span
        >
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Nama Pulau : {{ad.state}}</span
        >
      </li>
      <li class="flex">
        <svg
          class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        <span
          class="text-base font-normal leading-tight text-gray-500 dark:text-gray-300 ms-3"
          >Kode Pos : {{ad.zipcode}}</span
        >
      </li>
    </ul>
    <a
      href="{% url 'updateSetting' pk=ad.id %}"
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >
      Perbarui Alamat
    </a>
  </div>
  {% endfor %}
</div>

<div class="mx-auto max-w-screen-xl py-5">
    <div class="">
      <a href="{% url 'profile' %}"
      type="submit"
      class="text-center w-full bg-blue-700 text-white p-2 mb-6 hover:bg-blue-600">
      Tambah Alamat Baru
    </a>
    </div>
  </div>

{% include "footer.html" %}