{% include 'base.html' %}
{% include "navbar.html" %}
{% load static %}

<div class="flex items-center justify-center min-h-screen bg-blue-300">
    <div class="relative flex flex-col my-6 md:my-3 mx-6 space-y-8 bg-blue-100 shadow-2xl shadow-blue-900 rounded-2xl md:flex-row md:space-y-0">
        <!-- Left side -->
        <div class="flex flex-col justify-center p-8 md:p-14">
            <span class="mb-3 text-4xl font-bold">Selamat Datang! {{ request.user }}</span>
            <span class="font-light text-gray-400 mb-8">
                Silahkan Lengkapkan Data Diri Anda!
            </span>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% for fm in form %}
                    {% for error in fm.errors %}
                        <p class="text-red-500">{{ error|striptags }}</p>
                    {% endfor %}
                {% endfor %}
                <div class="flex justify-between w-full pt-4">
                  <span class="font-bold text-black text-md">{{request.user}}, Simpan Data?</span>
                </div>
                <div class="flex flex-row">
                    <button  
                    type="submit"
                    class="w-1/4 my-5 px-6 bg-blue-700 text-white p-2 rounded-lg mb-6 hover:bg-blue-600"
                >
                    Update
                </button>
                <a href="{% url 'setting' %}"
                    class="w-1/4 mx-5 my-5 px-6 bg-red-700 text-white p-2 rounded-lg mb-6 hover:bg-red-600"
                >
                    Kembali
                </a>
                </div>
                <!-- Error and message handling -->
            
                {% if messages %}
                {% for msg in messages %}
                    {% if msg.tags == 'success' %}
                        <div class="p-4 mb-4 text-sm text-green-400 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                            {{ msg }}
                        </div>
                    {% elif msg.tags == 'warning' %}
                        <div class="p-4 mb-4 text-sm text-red-400 py-5 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400" role="alert">
                            {{ msg }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <div class="text-center text-gray-400">
                    Ingin mengganti Data Diri?
                    <a href="{% url 'regist' %}"><span class="font-bold text-black">Ganti Data</span></a>
                </div>
            </form>
            
            
        </div>
        <!-- Right side -->
        <div class="relative">
            <img
                src="{% static 'images/coffe/kopisusu.png' %}"
                alt="img"
                class="w-[400px] h-full hidden rounded-r-2xl md:block object-contain"
            />
        </div>
    </div>
</div>
